@media screen and (max-width:720px) {
    * {
        font-size: 9px;
    }
    h1 {
        font-size: 21px;
    }
    h2 {
        font-size: 18px;
    }
    h4 {
        font-size: 12px;
    }
    #welcome {
        font-weight: normal;
    }
    #main {
        display: none;
    }
    #self_introduction {
        padding: 20px;
        margin: 20px 0 0 0;
    }
    #update_log {
        padding: 20px;
        margin: 20px 0 0 0;
    }

    /* 动画 */
    .at-item-welcome {
        color: #3079ed;
        animation-name: text-shadow-multicolor2;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
      }
    @keyframes text-shadow-multicolor2 {
        0%{
          text-shadow: 0 0 black,0 0 red, 0 0 orange,0 0 yellow,0 0 green,0 0 skyblue,0 0 blue,0 0 white;
          -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
          filter: blur(0);
        }
        30%{
          text-shadow: -1px -1px black,-3px -3px red,-5px -5px orange,-7px -7px yellow,-9px -9px green,-11px -11px skyblue,-13px -13px blue,-15px -15px white;
          -webkit-transform: translateX(8px) translateY(8px);
          transform: translateX(8px) translateY(8px);
          filter: blur(0);
        }
        50%{
            text-shadow: -1px -1px black,-3px -3px red,-5px -5px orange,-7px -7px yellow,-9px -9px green,-11px -11px skyblue,-13px -13px blue,-15px -15px white;
            -webkit-transform: translateX(8px) translateY(8px);
            transform: translateX(8px) translateY(8px);
            filter: blur(0);
          }
        80%{
            text-shadow: 0 0 black,0 0 red, 0 0 orange,0 0 yellow,0 0 green,0 0 skyblue,0 0 blue,0 0 white;
            -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
            filter: blur(0.01);
        }
        100%{
            filter: blur(1px) opacity(0%);
        }
      }
      /* js有个延迟函数让它消失 */
      
}