@media screen and (min-width: 720px) {
    /* 布局 */
    #main {
        display: none;
        grid-template-columns: 25% 50% 25%;
        grid-gap: 0 0;
        grid-template-areas:
                             ". self_introduction ."
                             ". update_log        .";
    }
    #self_introduction {
        grid-column-start: self_introduction-start;
        grid-column-end: self_introduction-end;
        padding: 10px;
        margin: 20px 0 0 0;
    }
    #update_log {
        grid-column-start: update_log-start;
        grid-column-end: update_log-end;
        padding: 10px;
        margin: 20px 0 0 0;

    }


    /* 动画 */
    .at-item-welcome {
        color: black;
        animation-name: focus-in-contract;
        animation-duration: 1.8s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 2;
        animation-direction: alternate;
        animation-fill-mode: none;
    }
    @keyframes focus-in-contract {
    0%{
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
    }
    60%{
        filter: blur(0);
        opacity: 1;
    }
    100%{
        filter: blur(0);
        opacity: 1;
    }
    }/* js有个延迟函数让它消失 */
    
}